/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}









/* --------------my style -------------*/
    .flex{
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
    }
    .collection-item.flex-start{
      justify-content: flex-start;
    }

    .flex .icon-block {
      max-width: 300px;
    }
    .flex-align-center {
      align-items: center;
    }
    .flex-space-between{
      justify-content: space-between;
    }
   .flex-space-arround{
      justify-content: space-around;
    }
    .flex-column{
      display: flex;
      flex-direction: column;
    }
    .flex-grow-1{
      flex-grow: 1;
    }
    .flex-no-wrap{
      flex-wrap: nowrap;
    }

    .full-height{
      height: 100vh;
    }
    .max-width-500 {
      max-width: 500px;
    }
    .flex-start{
      justify-content: flex-start;
    }

    .parallax-container .container {
      padding-top: 10%;
    }
    .parallax-container {
      height: 80vh;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .row-striped{
       background-color: rgba(242,242,242,0.5);
    }
    html {
      scroll-behavior: smooth;
    }
    .text-shadow{
      text-shadow: 1px 1px 19px black;
    }


    .primary-background-outlined:hover{
      background-color: #4527a0!important;
      color: white!important; 
    }     
    .primary-background-outlined{
      color: #4527a0 !important;
      background-color: white; 
      border: 1px solid #4527a0;
    }        
    .image-background{
      background-color: #171a3d !important;
    }    
    .primary-text{
      color: #5e35b1 !important;
    }    
    .primary-text.text-lighten-2{
      color: #9575cd  !important;
    }    
    .primary-text.text-lighten-4{
      color: #d1c4e9   !important;
    }

    .sidenav-overlay{
          z-index: 996;
    }
    .start-btn{
      margin-top: 10%;
    }
  .pushpin.curso-card.pin-top{
    display: none;
  }
  .pushpin.curso-card{
    right: 5px;
    top: 50%;
    width: 15%;
    z-index: 3;
  }
  .price-text-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .course-price-text{
    font-size: 36px;
    font-weight: 700;
    margin-right: 10px;
    white-space: nowrap;
  }



  .video-description{
    flex-grow: 1;
    margin-left: 5px;
    max-width: 95%;
  }

.requirements__list li{
    list-style: disc!important;
    margin-left: 10px;
    padding-left: 10px;
}


.coupon {
  display: none; /* TODO : ESTO ES TEMPORAL */
  border: 5px dotted #bbb;
  width: 80%;
  border-radius: 15px;
  margin: 0 auto;
  max-width: 600px;
}

.cutout-text{
  background-color: white;
  color: black;
  mix-blend-mode: screen;
}
hr {
  margin: auto;
  width: 40%;
}
.mini-container{
  width: 90%;
}

.show-more--container{
    -webkit-mask-image: linear-gradient(#fff,#fff,rgba(255,255,255,0));
}
.more-text{
  display: none;
} 
.real-text{
white-space: pre-line
} 
@font-face {
  font-family: myMontserrat;
  src: url(Montserrat/Montserrat-Bold.ttf);
}

.main-text{
    font-family: 'myMontserrat';
    font-weight: bold;
}
.main-text-big{
    font-size: 90px;
}

.first-main-text{
    font-size: 60px;
}
.second-main-text{
  font-size: 2.56rem;
}

.pad-rem-1{
  padding: 1rem;
}
.padding-right-5{
  padding-right: 5px;
}
.margin-sm{
      margin: 4px;
}
.no-header{
  border-bottom: 0px solid #fff!important;
}

.avatar{
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  background: rgb(156, 70, 127); 
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  object-fit: cover;
  color: #fff;
}
.avatar-container{
      display: block;
    padding: 0 2.4rem 0 0;
}